<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
<div class="text">
    <h1 style="text-align: center;font-style: normal; font-size: 50px;"><strong>{{   use.title }}</strong></h1>
  <p>{{ use.content}}</p>
</div>
{{ MEDIA_URL }}
<img height="300px" src="/media/{{ use.img }}"/>
<h2><strong>Comments</strong></h2>
<ul>
<div class="date">
{% for i in co %}
    <p><li>{{ i.comment_text }}</li></p>

{% endfor %}
   </div>

</ul>

</body>
</html>